@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&family=Nunito:wght@500;600;700&display=swap');

//Colors

$blue: #91A2FF;
$blue2:#375674;
$black:#504A4D;
$bordo:#40262B;
$select_age_back: linear-gradient(180deg, #F4F6F8 0%, #F4F6F8 100%);
$gray_backgroud:linear-gradient(165.36deg, #D8DAE3 -29.3%, #FBFBFB 58.13%, #FBFBFB 76.23%, #E8E9EE 136.37%);
$blue_background:linear-gradient(0deg, #F5FAFD, #F5FAFD), linear-gradient(0deg, rgba(225, 214, 219, 0.6), rgba(225, 214, 219, 0.6)), linear-gradient(165.36deg, #D8DAE3 -29.3%, #FBFBFB 58.13%, #FBFBFB 76.23%, #E8E9EE 136.37%);
$white: #fff;
$link: #828380;
$text:#5D7E9D;
$icon_back:#F5FAFD;
$icon_hover_back:linear-gradient(156.13deg, #A6B4FF 47.77%, rgba(204, 235, 255, 0.85) 121.32%);
$under_banner_row_back: linear-gradient(89.64deg, #D8DAE3 -26.23%, #FBFBFB 51.93%, #E8E9EE 128.57%);
//Fonts
$lato:'Lato', sans-serif;
$nunito: 'Nunito', sans-serif;