.baby-pic{
  margin-top: 150px;

  .wrapper{
    width: 90%;

    .content{
      padding-right: 190px;
      border-radius: 11px 0px 0px 11px;
      overflow: hidden;


      @media(max-width: 991px){
        width: 100%;
      }

      @media(max-width: 470px){
        padding-right: 100px;
      }

      .inner{
        max-width: 373px;

        @media(max-width: 991px){
          max-width: 100%;
        }

        h3{
          font-style: normal;
          font-weight: 500;
          font-size: 23px;
          line-height: 28px;
          letter-spacing: 0.02em;

          @media(max-width: 470px){
            font-size: 19px;
          }
        }

        p{
          max-width: 180px;
          font-style: normal;
          font-weight: 400;
          font-size: 34px;
          line-height: 119.4%;
          letter-spacing: 0.045em;
          white-space: pre-wrap;
          margin: 14px 0 19px;

          @media(max-width: 1240px){
            font-size: 26px;
          }

          @media(max-width: 991px){
            max-width: 100%;
          }

          @media(max-width: 470px){
            font-size: 20px;
          }
        }

        h4{
          font-style: normal;
          font-weight: 700;
          font-size: 23px;
          line-height: 28px;
          letter-spacing: 0.045em;
          margin-bottom: 19px;

          @media(max-width: 470px){
            font-size: 18px;
            line-height: 23px;
          }
        }

        svg{
          @media(max-width: 470px){
            width: 120px !important;
          }
        }
      }
    }

    &>.img-wrapper{
      width: 50%;
      max-width: 960px;

      @media(max-width: 1400px){
        height: 625px;
      }

      @media(max-width: 991px){
        width: 100%;
        max-width: 100%;
        height: fit-content;
      }

      img{
        width: 100%;
        height: 100%;
        object-fit: cover;

        @media(max-width: 991px){
          object-position: top;
        }
      }
    }
  }
}